<h2>hippolyta</h2>
New customer?<a href="<%= new_user_url %>"> Start here.</a>
<br>
<br>
<br>

<%= (flash[:errors].join("<br>") + "<br>" + "<br>").html_safe if flash[:errors] %>

<strong>Sign In</strong>
<br>
<br>

<form class="create-session" action="<%= session_url %>" method="post">
  <%= authenticity_token %>

  What is your e-mail address?
  <br>

  <label>
    My e-mail address is:
    <input type="text" name="[email]" value="<%= params[:email] %>">
  </label>
  <br>
  <br>

  Do you have an Amazon.com password?
  <br>

  <label>
    <input type="radio" name="password?" value="">No, I am a new customer.
    <br>

    <input type="radio" name="password?" value="" checked>Yes, I have a password:
    <input type="password" name="[password]" value="">
  </label>
  <br>
  <br>

  <button>Sign in using our secure server</button>
</form>
