<h2><%= user.escape("name") %>'s Hippolyta</h2>

<img src="<%= user.escape("picture_url") %>" alt="<%= user.escape("name") %>'s picture/logo" />

<p>
Customer since <%= new Date(user.escape("created_at")) %>
</p>

<p>
  <a href="#users/<%= user.id %>/products">My Products</a>
</p>
