<section id="user-private-profile">
  <% if (!user.escape("email") || !user.escape("name")) { %>
      <div id="sign-in-to-view-profile">
        <a href="/session/new" class="sign-in-or-up">
          Sign in</a>
        or
        <a href="/users/new" class="sign-in-or-up">
          sign up</a>
        to view and edit your profile.
      </div>
  <% } else { %>
      <img id="user-image"
           src="<%= user.escape("small_picture_url") %>"
           alt="<%= user.escape("name") %>'s picture/logo"
           style="cursor: pointer;"/>

      <strong style="padding-left: 20px; font-size: 24px; padding-right: 20px;">
        <%= user.escape("name") %>'s Hippolyta
      </strong>

      Customer since <%= new Date(user.escape("created_at")) %>
      <br>
      <br>
      <br>

      <p>
        <a href="#users/<%= user.id %>/products">My Products</a>
      </p>
  <% } %>
</section>
