<main id="new-review">
  <div id="new-review-container">
    <section id="new-review-header">
      <span id="new-review-header-title">
        You are reviewing:
      </span>
      <table id="new-review-purchased-product">
        <td>
          <span>
            <img id="new-review-purchased-product-picture"
                 src="<%= purchasedProduct.escape("small_picture_url") %>"
                 alt="product-image" />
          </span>
        </td>
        <td>
          <span id="new-review-purchased-product-name">
            <%= purchasedProduct.escape("name") %>
          </span>
        </td>
      </table>
    </section>

    <section id="new-review-body">
      <% var sellerId = purchasedProduct.escape("seller_id") %>
      <% var productId = purchasedProduct.escape("id") %>

      <form id="new-review-form"
            action="/api/users/<%= sellerId %>/products/<%= productId %>/reviews"
            method="post">
        <input type="hidden" name="review[product_id]" value="<%= productId %>">
        <span id="new-review-star-rating-title">
          Rate this product:
        </span>
        <div id="new-review-star-rating">
          <span class="new-review-full-star"
                id="new-review-star-one">&#9733</span>
          <span class="new-review-full-star"
                id="new-review-star-two">&#9733</span>
          <span class="new-review-full-star"
                id="new-review-star-three">&#9733</span>
          <span class="new-review-full-star"
                id="new-review-star-four">&#9733</span>
          <span class="new-review-full-star"
                id="new-review-star-five">&#9733</span>
        </div>
        <input id="new-review-star-rating-input"
               type="hidden"
               name="review[rating]"
               value="5">
        <div id="new-review-write-review">
          <span id="new-review-write-review-title">
            Write a review for this product:
          </span>
          <textarea name="review[text]" rows="25" cols="100"></textarea>
        </div>
        <button id="new-review-form-button">
          Submit Review
        </button>
      </form>
    </section>
  </div>
</main>
