<header class="auth-header group">
  <ul>
    <li>
      <a href="">
        <img class="auth-header-logo"
             src="<%= image_url("seed/hippolyta_logo.png") %>"
             alt="hippolyta logo" />
      </a>
    </li>

    <li>
      <a class="auth-header-links" href="<%= new_session_url %>">Your Account</a>
    </li>
  </ul>
</header>

<main class="auth-main">
  <%= (flash[:errors].join("<br>") + "<br>" + "<br>").html_safe if flash[:errors] %>

  <h2 class="form-header">Registration<h2>


  New to Hippolyta.com? Register Below.
  <br>
  <br>

  <form class="create-user"
        action="<%= users_url %>"
        method="post">
        <!-- enctype="multipart/form-data" -->
    <%= authenticity_token %>

    <label>
      My name is:
      <input type="text" name="user[name]" value="<%= @user.name %>">
    </label>
    <br>

    <label>
      My e-mail address is:
      <input type="text" name="user[email]" value="<%= @user.email %>">
    </label>
    <br>

    <label>
      My mobile phone number is (optional):
      <input type="text" name="user[phone_number]" value="<%= @user.phone_number %>">
    </label>
    <br>

    <label>
      Enter a new password:
      <input type="password" name="user[password]" value="">
    </label>
    <br>
  <!--
    <label>
      Add profile picture or company logo (optional):
      <input type="file" name="user[picture]">
    </label>
    <br> -->
    <br>



    <button>Create account</button>
  </form>
</main>
