<header class="auth-header group">
  <ul>
    <li>
      <a href="">
        <img class="auth-header-logo"
             src="<%= image_url("seed/hippolyta_logo.png") %>"
             alt="hippolyta logo" />
      </a>
    </li>

    <section class="auth-header-links">
        <li><a href="<%= new_session_url %>">Your Account</a></li>
    </section>

  </ul>
</header>

<main class="auth-main">
  <%= (flash[:errors].join("<br>") + "<br>" + "<br>").html_safe if flash[:errors] %>

  <h2 class="auth-h2">Registration<h2>

    <form class="create-user group"
          action="<%= users_url %>"
          method="post">
          <!-- enctype="multipart/form-data" -->
      <%= authenticity_token %>

      <fieldset>
        <div class="auth-input group">
          <h3 class="auth-h3">New to Hippolyta.com? Register Below.</h3>
          <ul>
            <li>
              <label>
                My name is:
                <input type="text" name="user[name]" value="<%= @user.name %>">
              </label>
            </li>

            <li>
              <label>
                My e-mail address is:
                <input type="text" name="user[email]" value="<%= @user.email %>">
              </label>
            </li>

            <li>
              <label>
                My mobile phone number is (optional):
                <input type="text" name="user[phone_number]" value="<%= @user.phone_number %>">
              </label>
            </li>
          </ul>
        </div>

        <div class="auth-input group">
          <h3 class="auth-h3">Protect your information with a password</h3>
          <ul>
            <li>
              <label>
                Enter a new password:
                <input type="password" name="user[password]" value="">
              </label>
            </li>

            <!-- <li>
              <label>
                Add profile picture or company logo (optional):
                <input type="file" name="user[picture]">
              </label>
            </li> -->
          </ul>
        </div>

        <button>Create account</button>
      </fieldset>
    </form>
</main>
