<header class="auth-header group">
  <ul>
    <li>
      <a href="/">
        <img class="logo"
             src="<%= image_url("hippolyta_logo_black.png") %>"
             alt="hippolyta logo" />
      </a>
    </li>

    <section class="links">
        <li><a href="<%= new_session_url %>">Your Account</a></li>
    </section>

  </ul>
</header>

<main class="auth-main">
  <%= (flash[:errors].join("<br>") + "<br>" + "<br>").html_safe if flash[:errors] %>

  <h2 class="auth-h2">Registration<h2>

    <form class="create-user group"
          action="<%= users_url %>"
          method="post">
          <!-- enctype="multipart/form-data" -->
      <%= authenticity_token %>

      <fieldset>
        <div class="auth-input group">
          <h3 class="auth-h3">New to Hippolyta.com? Register Below.</h3>
          <ul>
            <li>
              <label>My name is:</label>
              <input type="text" name="user[name]" value="<%= @user.name %>">
            </li>

            <li>
              <label>My e-mail address is:</label>
              <input type="text" name="user[email]" value="<%= @user.email %>">
            </li>

            <li>
              <label>My mobile phone number is (optional):</label>
              <input type="text" name="user[phone_number]" value="<%= @user.phone_number %>">
            </li>
          </ul>
        </div>

        <div class="auth-input group">
          <h3 class="auth-h3">Protect your information with a password</h3>
          <ul>
            <li>
              <label>Enter a new password:</label>
              <input type="password" name="user[password]" value="">
            </li>

            <!-- <li>
              <label>Add profile picture or company logo (optional):</label>
              <input type="file" name="user[picture]">
            </li> -->
          </ul>
        </div>

        <button class="sign-up">Create account</button>
      </fieldset>
    </form>
</main>
