<main id="cart-show">
  <% if (products.length < 1) { %>
    <section id="empty-cart">
      <header>Your Shopping Cart is empty.</header>
      <body>
        <ul>
          <li>
            Your Shopping Cart lives to serve.
            Give it purpose — fill it with books, CDs, DVDs, toys, electronics, and more.
            If you already have an account,
              <a href="/session/new">
                Sign In
              </a>
            to see your Cart.
          </li>
          <li>
            Continue shopping on the<a href="/"> Hippolyta.com</a> homepage.
          </li>
          <li>
            The price and availability of items at Hippolyta.com are subject to change.
            The Cart is a temporary place to store a list of your items and reflects
            each item's most recent price.
          </li>
        </ul>
      </body>
    </section>
  <% } else { %>
    <section id="populated-cart">
      <div id="main">
        <ul>
          <li>
            <header>Your Shopping Cart</header>
          </li>
        </ul>

        <ul id="column-labels">
          <li id="spacer"></li>
          <li id="price-label">
            Price
          </li>
          <li id="quantity-label">
            Quantity
          </li>
        </ul>

        <% var cart_subtotal_price = 0; %>
        <% var cart_total_quantity = 0; %>
        <% products.each( function(product) { %>
          <% var cartProduct = cartProducts.getOrFetchByCartAndProductId(cart.id, product.id); %>
          <% var salePrice = (product.escape("sale_price") * 1).toFixed(2); %>
          <% var subtotal = (cartProduct.escape("quantity") * salePrice).toFixed(2); %>
          <% if (product.escape("original_price")) { %>
            <% var originalPrice = (product.escape("original_price") * 1).toFixed(2); %>
            <% var amountSavedPer = (originalPrice - salePrice).toFixed(2); %>
            <% var amountSavedTotal = (amountSavedPer * cartProduct.escape("quantity")).toFixed(2); %>
            <% var percentSaved = (100 / (subtotal / amountSavedTotal)).toFixed(0) %>
          <% }; %>
          <div class="product">
            <ul class="image-cell">
              <li>
                <a href='#sellers/<%= product.escape("seller_id") %>/products/<%= product.id %>'>
                  <img src="<%= product.escape("small_picture_url") %>" alt="product image"/>
                </a>
              </li>
            </ul>

            <ul class="name-cell">
              <li class="name-li">
                <a href='#sellers/<%= product.escape("seller_id") %>/products/<%= product.id %>'>
                    <%= product.escape("name") %>
                </a>
              </li>

              <li class="sold-by">
                sold by <%= product.escape("seller_name") %>
              </li>

              <% var quantity = product.escape("quantity") %>
              <% if (quantity < 1) { %>
                  <li class="out-of-stock">
                    Out of Stock
                  </li>
              <% } else if (quantity > 25) { %>
                  <li class="in-stock">
                    In Stock
                  </li>
              <% } else { %>
                  <li class="left-in-stock">
                    Only <%= quantity %> left in stock.
                  </li>
              <% }; %>

              <li class="delete">
                <a href="/api/cart_products/del/<%= product.id %>" data-method="delete">
                  Delete from Cart
                </a>
              </li>
            </ul>

            <ul class="price-cell">
              <li class="price-total">
                $<%= subtotal %>
              </li>

              <% if (amountSavedTotal) { %>
                <li class="saved-total">
                  You save:
                  <div>
                    $<%= amountSavedTotal %>
                    <% if (amountSavedTotal > 0) { %>
                        (<%= percentSaved %>%)
                    <% } else { %>
                        (0%)
                    <% }; %>
                  </div>
                </li>
              <% }; %>
            </ul>

            <ul class="quantity-cell">
              <li>
                <form action="/api/cart_products/qty/<%= product.id %>" method="post">
                  <input type="hidden" name="_method" value="patch">
                    <input type="number"
                           min="0"
                           max="<%= product.escape("quantity") %>"
                           name="cart_product[quantity]"
                           value="<%= cartProduct.escape("quantity") %>">
                    <br>
                    <button>Update</button>
                </form>
              </li>
            </ul>
          </div>

          <% cart_subtotal_price += Number(subtotal); %>
          <% cart_total_quantity += Number(cartProduct.escape("quantity")) %>
        <% }) %>
      </div>

      <div id="side-bar">
        <div id="checkout-box">
          <ul>
            <li id="subtotal">
              Subtotal (<%= cart_total_quantity %> items):
              <span>$<%= cart_subtotal_price.toFixed(2) %></span>
            </li>

            <li id="checkout-button">
              <a href="#">
                Proceed to checkout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  <% }; %>
</main>
