<% if (products.length < 1) { %>
  <section id="empty-cart">
    <header>Your Shopping Cart is empty.</header>
    <body>
      <ul>
        <li>
          Your Shopping Cart lives to serve.
          Give it purpose — fill it with books, CDs, DVDs, toys, electronics, and more.
          If you already have an account,
            <a href="/session/new">
              Sign In
            </a>
          to see your Cart.
        </li>
        <li>
          Continue shopping on the<a href="/"> Hippolyta.com</a> homepage.
        </li>
        <li>
          The price and availability of items at Hippolyta.com are subject to change.
          The Cart is a temporary place to store a list of your items and reflects
          each item's most recent price.
        </li>
      </ul>
    </body>
  </section>
<% } else { %>

  <header>Your Shopping Cart</header>

  <ul>
    <% products.each( function(product) { %>
      <% cartProduct = cartProducts.getOrFetchByCartAndProductId(cart.id, product.id) %>
      <li>
        <a href='#sellers/<%= product.escape("seller_id") %>/products/<%= product.id %>'>
          <img src="<%= product.escape("medium_picture_url") %>" alt="product image"/>
        </a>
      </li>

      <li>
        <a href='#sellers/<%= product.escape("seller_id") %>/products/<%= product.id %>'>
          <%= product.escape("name") %>
        </a>
      </li>

      <li>
        <a href='#sellers/<%= product.escape("seller_id") %>/products/<%= product.id %>'>
          Price: <%= product.escape("sale_price") %>
        </a>
      </li>

      <li>
        <% if (product.escape("original_price")) { %>
          <a href='#sellers/<%= product.escape("seller_id") %>/products/<%= product.id %>'>
            Original Price: <%= product.escape("original_price") %>
          </a>
        <% } %>
      </li>

      <li>
        <a href='#sellers/<%= product.escape("seller_id") %>/products/<%= product.id %>'>
          Qty: <%= product.escape("quantity") %>
        </a>
      </li>

      <li>
        <% if (product.escape("description")) { %>
          <a href='#sellers/<%= product.escape("seller_id") %>/products/<%= product.id %>'>
            Description: <%= product.escape("description") %>
          </a>
        <% } %>
      </li>

      <li>
        <form action="/api/cart_products/qty/<%= product.id %>" method="post">
          <input type="hidden" name="_method" value="patch">
            Quantity:
            <input type="number"
                   min="0"
                   max="<%= product.escape("quantity") %>"
                   name="cart_product[quantity]"
                   value="<%= cartProduct.escape("quantity") %>">
            <button>Update</button>
        </form>
      </li>

      <li>
        <a href="/api/cart_products/del/<%= product.id %>" data-method="delete">
          Delete from Cart
        </a>
      </li>
    <% }) %>
  </ul>
<% }; %>
