<main id="search-results">
  <% if (results.length < 1) { %>
      <section id="matchless-search">
        Your search for
          "<span id="search-query"><%= results.keywords %></span>"
        did not match any products.
      </section>
  <% } else { %>
      <section id="successful-search">
        <header>
          Showing results for:
            "<span id="search-query"><%= results.keywords %></span>"
        </header>
        <ul id="results">
          <% results.each( function(result) { %>
            <% var quantity = result.escape("quantity") %>
            <% var salePrice = (result.escape("sale_price") * 1).toFixed(2) %>
            <% if (result.escape("original_price")) { %>
              <% var originalPrice = (result.escape("original_price") * 1).toFixed(2); %>
              <% var amountSaved = (originalPrice - salePrice).toFixed(2); %>
            <% }; %>
            <li>
              <ul class="result">
                <li class="image-cell">
                  <ul>
                    <li class="image">
                      <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
                        <img src="<%= result.escape("medium_picture_url") %>" alt="product image"/>
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="info-cell">
                  <ul class="info-ul">
                    <li class="name">
                      <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
                        <%= result.escape("name") %>
                      </a>
                    </li>

                    <li class="sold-by">
                        Sold by <%= result.escape("seller_name") %>
                    </li>

                    <li class="sale-price">
                      <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
                        $<%= salePrice %>
                      </a>

                      <% if (amountSaved) { %>
                        <span class="amount-saved">
                          $<%= amountSaved %>
                        </span>
                      <% }; %>
                    </li>

                    <% if (quantity < 1) { %>
                        <li class="out-of-stock stock">
                          <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
                            Out of Stock
                          </a>
                        </li>
                    <% } else if (quantity > 25) { %>
                        <li class="in-stock stock">
                          <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
                            In Stock
                          </a>
                        </li>
                    <% } else { %>
                        <li class="left-in-stock stock">
                          <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
                            <%= quantity %> left in stock
                          </a>
                        </li>
                    <% }; %>
                  </ul>
                </li>
              </ul>
            </li>
          <% }) %>
        </ul>
      </section>
  <% }; %>
</main>
