<% if (results.length < 1) { %>
  <section id="matchless-search">
    <%= "Your search did not match any products." %>
  </section>
<% }; %>

<ul>
  <% results.each( function(result) { %>
    <li>
      <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
        <img src="<%= result.escape("medium_picture_url") %>" alt="product image"/>
      </a>
    </li>

    <li>
      <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
        <%= result.escape("name") %>
      </a>
    </li>

    <li>
      <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
        Price: <%= result.escape("sale_price") %>
      </a>
    </li>

    <li>
      <% if (result.escape("original_price")) { %>
        <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
          Original Price: <%= result.escape("original_price") %>
        </a>
      <% } %>
    </li>

    <li>
      <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
        Qty: <%= result.escape("quantity") %>
      </a>
    </li>

    <li>
      <% if (result.escape("description")) { %>
        <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
          Description: <%= result.escape("description") %>
        </a>
      <% } %>
    </li>
  <% }) %>
</ul>
