<% if (results.length < 1) { %>
  <div id="matchless-search">
    <%= "Your search did not match any products." %>
  </div>
<% }; %>

<ul>
  <% results.each( function(result) { %>
    <li>
      <a href='#sellers/<%= result.escape("seller_id") %>/products/<%= result.id %>'>
        <img src="<%= result.escape("medium_picture_url") %>" alt="product image"/>
      </a>
    </li>

    <li>
      <%= result.escape("name") %>
    </li>

    <li>
      Price: <%= result.escape("sale_price") %>
    </li>

    <li>
      <% if (result.escape("original_price")) { %>
        Original Price: <%= result.escape("original_price") %>
      <% } %>
    </li>

    <li>
      Qty: <%= result.escape("quantity") %>
    </li>

    <li>
      <% if (result.escape("description")) { %>
        Description: <%= result.escape("description") %>
      <% } %>
    </li>
  <% }) %>
</ul>
