<ul>
  <% products.each( function (product) { %>

    <li>
      <img src="<%= product.escape("medium_picture_url") %>" alt="product image"/>
      <br>

      Name: <%= product.escape("name") %>
      <br>

      Sale price: $<%= product.escape("sale_price") %>
      <br>

      <% if (product.escape("original_price")) { %>
        Original Price: $<%= product.escape("original_price") %>
        <br>
      <% } %>

      Quantity: <%= product.escape("quantity") %>
      <br>

      <% if (product.escape("description")) { %>
        Description: <%= product.escape("description") %>
        <br>
      <% } %>

      <button>Edit Product</button>
    </li>
    <br>
    <br>


  <% }) %>
</ul>

<p>
  <a href="#products/new">Add Product</a>
</p>
