<main id="product-show" class="group">
  <ul>
    <li id="picture">
      <img src="<%= product.escape("large_picture_url") %>" alt="product image"/>
    </li>

    <li>
      <%= product.escape("name") %>
    </li>

    <li>
      <% var salePrice = (product.escape("sale_price") * 1).toFixed(2) %>
      Price: $<%= salePrice %>
    </li>

    <% if (product.escape("original_price")) { %>
      <% var originalPrice = (product.escape("original_price") * 1).toFixed(2) %>
      <li>
        Original Price: $<%= originalPrice %>
      </li>
    <% }; %>

    <li>
      <% var amountSaved = (originalPrice - salePrice).toFixed(2) %>
      You save: $<%= amountSaved %>
    </li>

    <% var quantity = product.escape("quantity") %>
    <% if (quantity < 1) { %>
        <li id="out-of-stock">
          Qty: Out of Stock
        </li>
    <% } else if (quantity > 25) { %>
        <li id="in-stock">
          Qty: In Stock
        </li>
    <% } else { %>
        <li>
          Qty: <%= quantity %>
        </li>
    <% }; %>

    <% if (product.escape("description")) { %>
      <li>
        Description: <%= product.escape("description") %>
      </li>
    <% } %>

    <a href="/api/cart_products/add/<%= product.id %>" data-method="post">
        Add to Cart
    </a>
  </ul>
</main>
