<header class="root-header">
  <section class="top">
      <div id="logo-block">
        <a href="/">
          <img class="logo"
               src="<%= image_url("hippolyta_logo_white.png") %>"
               alt="hippolyta logo" />
        </a>
      </div>

      <div id="search-block">
        <form action="<%= queries_url %>" method="post">
          <%= authenticity_token %>
          <ul>
            <li id="search-label">
              Search
            </li>
            <li>
              <input id="query"
                     type="text"
                     name="query[keywords]"
                     value=""
                     autofocus="autofocus">
            </li>
            <li>
              <button id="search-button">
                <img src="<%= image_url("seed/root_page/search-button.png") %>"
                     alt="Go" />
              </button>
            </li>
          </ul>
        </form>
      </div>
  </section>

  <section class="bottom">
    <div id="left">

    </div>
    <% if signed_in? %>
      <div id="middle">
        <a id="hippolyta" href="#current_user/profile">
          <%= current_user.name %>'s Hippolyta.com
        </a>

        <% if last_query %>
          <a id="recent-search" href="/#search_results">
            Most recent search
          </a>
        <% end %>
      </div>

      <div id="right">
        <ul>
          <li>
            <ul id="account-drop-down-ul">
              <li>
                <a id="account" href="<%= session_url %>" data-method="delete">
                  <span id="top-line">Your Account</span>
                  <br>
                  <span>Sign Out? <div id="down-arrow"></div></span>
                </a>
              </li>
              <li id="account-drop-down">
                <ul>
                  <li>
                    <button class="drop-down-button">
                      <a href="<%= session_url %>" data-method="delete">
                        Sign Out
                      </a>
                    </button>
                  </li>
                  <li id="after-button">
                    Want to view
                    <a href="#current_user/profile">
                      your account?
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
    <% else %>
      <div id="middle">
          <a id="hippolyta" href="<%= new_session_url %>">
            Your Hippolyta.com
          </a>

          <% if last_query %>
            <a id="recent-search" href="/#search_results">
              Most recent search
            </a>
          <% end %>
      </div>

      <div id="right">
        <ul>
          <li>
            <ul id="account-drop-down-ul">
              <li>
                <a id="account" href="<%= new_session_url %>">
                  <span id="top-line">Hello. Sign in</span>
                  <br>
                  <span>Your Account <div id="down-arrow"></div></span>
                </a>
              </li>
              <li id="account-drop-down">
                <ul>
                  <li>
                    <button class="drop-down-button">
                      <a href="<%= new_session_url %>">
                        Sign in
                      </a>
                    </button>
                  </li>
                  <li id="after-button">
                    New customer?
                    <a href="<%= new_user_url %>">
                      Start here.
                    </a>
                  </li>
                  <li id="drop-down-demo-button">
                    <a href="/session/demo" data-method="post">
                      Sign in as Demo User to test site
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
    <% end %>
          <li>
            <ul id="cart-drop-down-ul">
              <li>
                <a id="cart" href="#carts/<%= current_cart.id %>">
                  <div id="quantity"><%= current_cart.quantity %></div>
                  <img src="<%= image_url("cart.png") %>" alt="cart" />
                  <span>Cart <div id="down-arrow"></div></span>
                </a>
              </li>
              <li id="cart-drop-down">
                <ul>
                  <% if current_cart.products.empty? %>
                    <li id="cart-empty">
                      Your Cart is empty.
                    </li>
                  <% else %>
                    <% current_cart.cart_products.each do |cart_product| %>
                      <% product = cart_product.product %>
                      <li class="cart-item">
                        <a class="group"
                           href="#sellers/<%= product.seller_id %>/products/<%= product.id %>">
                          <img class="product-image"
                               src="<%= product.picture.url(:thumb) %>"
                               alt="product image" />
                          <ul class="product-info">
                            <li class="product-name">
                              <%= product.name %>
                            </li>
                            <li class="product-price">
                              $<%= money_string(product.sale_price * cart_product.quantity) %>
                            </li>
                            <li class="product-quantity">
                              Quantity: <%= cart_product.quantity %>
                            </li>
                          </ul>
                        </a>
                      </li>
                    <% end %>
                    <li id="cart-total">
                      Total:
                      <span id="total-money-string">
                        $<%= money_string(current_cart.total) %>
                      </span>
                    </li>
                  <% end %>
                  <li>
                    <button class="drop-down-button">
                      <a href="/checkout#checkout/<%= current_cart.id %>">
                        Proceed to checkout
                      </a>
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </section>
</header>

<main>
  <div id="content">
    <section class="large-ad">
      <img src="<%= image_url("seed/root_page/Baby-Hippopotamus-Gregor-Berlin-Zoo.jpg") %>"
           alt="picture"/>
    </section>

    <% if !current_user %>
      <section id="demo-button-section">
        <a id="demo-button" href="/session/demo" data-method="post">
          Sign in as Demo User to test site
        </a>
      </section>
    <% end %>
  </div>
</main>

<script type="text/javascript" charset="utf-8">
  $(Hippolyta.initialize);
</script>
