<header class="root-header group">
  <section class="top group">
      <div id="logo-block">
        <a href="/">
          <img class="logo"
               src="<%= image_url("hippolyta_logo_white.png") %>"
               alt="hippolyta logo" />
        </a>
      </div>

      <div id="search-block">
        <form class="search-form group" action="<%= queries_url %>" method="post">
          <%= authenticity_token %>

          <label>Search</label>
          <input id="query" type="text" name="query[keywords]" value="">

          <button class="search-button">Go</button>
        </form>
      </div>
  </section>

  <section class="bottom group">
    <div id="left">

    </div>
    <% if !signed_in? %>
      <div id="middle">
          <a class="hippolyta" href="<%= new_session_url %>">
            Your Hippolyta.com
          </a>
      </div>

      <div id="right">
        <ul>
          <li>
            <a id="account" href="<%= new_session_url %>">
              Hello. Sign in<br>
              Your Account
            </a>
          </li>
          <li>
            <a id="cart" href="#carts/<%= current_cart.id %>">
              Cart: <%= current_cart.quantity %>
            </a>
          </li>
        </ul>
      </div>
    <% else %>
      <div id="middle">
        <a class="hippolyta" href="#users/<%= current_user.id %>">
          <%= current_user.name %>'s Hippolyta.com
        </a>
      </div>

      <div id="right" class="group">
        <a class="sign-out" href="<%= session_url %>" data-method="delete">
          Not <%= "#{current_user.name}" %>? Sign Out
        </a>

        <a class="cart" href="#carts/<%= current_cart.id %>">
          Cart: <%= current_cart.quantity %>
        </a>
      </div>
    <% end %>
  </section>
</header>

<main>
  <div id="content">
    <section class="large-ad group">
      <img src="<%= image_url("seed/root_page/Baby-Hippopotamus-Gregor-Berlin-Zoo.jpg") %>"
           alt="picture"/>
    </section>
  </div>
</main>

<script type="text/javascript" charset="utf-8">
  $(Hippolyta.initialize);
</script>
