<header class="root-header group">
  <section class="top group">
      <div id="logo-block">
        <a href="/">
          <img class="logo"
               src="<%= image_url("hippolyta_logo_white.png") %>"
               alt="hippolyta logo" />
        </a>
      </div>

      <div id="search-block">
        <form class="search-form group" action="<%= queries_url %>" method="post">
          <%= authenticity_token %>

          <label>Search</label>
          <input id="query" type="text" name="query[keywords]" value="">

          <button class="search-button">Go</button>
        </form>
      </div>
  </section>

  <section class="links group">
    <% if !signed_in? %>
      <ul class="links-left group">
        <li>
          <a href="<%= new_session_url %>">Your Hippolyta.com</a>
        </li>
      </ul>

      <ul class="links-right group">
        <li class="cart">
          <a href="#carts/<%= current_cart.id %>">
            Cart: <%= current_cart.quantity %>
          </a>
        </li>
      </ul>
    <% else %>
      <ul class="links-left group">
        <li>
          <a href="#users/<%= current_user.id %>">
            <%= current_user.name %>'s Hippolyta.com
          </a>
        </li>
      </ul>

      <ul class="links-right group">
        <li class="sign-out">
          <%= link_to "Not #{current_user.name}? Sign Out", session_url, method: :delete %>
        </li>
        <li class="cart">
          <a href="#carts/<%= current_cart.id %>">
            Cart: <%= current_cart.quantity %>
          </a>
        </li>
      </ul>
    <% end %>
  </section>
</header>

<main>
  <div id="content">
    <section class="large-ad group">
      <img src="<%= image_url("seed/root_page/Baby-Hippopotamus-Gregor-Berlin-Zoo.jpg") %>"
           alt="picture"/>
    </section>
  </div>
</main>

<script type="text/javascript" charset="utf-8">
  $(Hippolyta.initialize);
</script>
