<header class="root-header group">
  <ul>
    <li>
      <a href="/">
        <img class="logo"
             src="<%= image_url("seed/hippolyta_logo.png") %>"
             alt="hippolyta logo" />
      </a>
    </li>
  </ul>

  <section class="links">
    <% if !signed_in? %>
      <ul class="links-left">
        <li>
          <a href="<%= new_session_url %>">Your Hippolyta.com</a>
        </li>
      </ul>

      <ul class="links-right">
        <li class="cart">
          <a href="#">Cart: <%= current_cart.quantity %></a>
        </li>
      </ul>
    <% else %>
      <ul class="links-left">
        <li>
          <a href="#users/<%= current_user.id %>">
            <%= current_user.name %>'s Hippolyta.com
          </a>
        </li>
      </ul>

      <ul class="links-right">
        <li class="sign-out">
          <%= link_to "Not #{current_user.name}? Sign Out", session_url, method: :delete %>
        </li>
        <li class="cart">
          Cart: <%= current_cart.quantity %>
        </li>
      </ul>
    <% end %>
  </section>
</header>

<form class="search-form group" action="<%= queries_url %>" method="post">
  <%= authenticity_token %>

  <label>Search</label>
  <input id="query" type="text" name="query[keywords]" value="">

  <button class="search-button">Go</button>
</form>

<main>
  <div id="content">
    <section class="large-ad group">
      <img src="<%= image_url("seed/root_page/Baby-Hippopotamus-Gregor-Berlin-Zoo.jpg") %>"
           alt="picture"/>
    </section>
  </div>
</main>

<script type="text/javascript" charset="utf-8">
  $(Hippolyta.initialize);
</script>
