<header class="root-header">
  <section class="top">
      <div id="logo-block">
        <a href="/">
          <img class="logo"
               src="<%= image_url("hippolyta_logo_white.png") %>"
               alt="hippolyta logo" />
        </a>
      </div>

      <div id="search-block">
        <form action="<%= queries_url %>" method="post">
          <%= authenticity_token %>
          <ul>
            <li>
              <label>Search</label>
            </li>
            <li>
              <input id="query" type="text" name="query[keywords]" value="">
            </li>
            <li>
              <button class="search-button">
                <img id="search-button"
                     src="<%= image_url("seed/root_page/search-button.png") %>"
                     alt="Go" />
              </button>
            </li>
          </ul>
        </form>
      </div>
  </section>

  <section class="bottom">
    <div id="left">

    </div>
    <% if !signed_in? %>
      <div id="middle">
          <a id="hippolyta" href="<%= new_session_url %>">
            Your Hippolyta.com
          </a>
      </div>

      <div id="right">
        <ul>
          <li>
            <ul id="account-drop-down-ul">
              <li>
                <a id="account" href="<%= new_session_url %>">
                  <span id="top-line">Hello. Sign in</span>
                  <br>
                  <span>Your Account <div id="down-arrow"></div></span>
                </a>
              </li>
              <li id="account-drop-down">
                <ul>
                  <li>
                    <button>
                      <a href="<%= new_session_url %>">
                        Sign in
                      </a>
                    </button>
                  </li>
                  <li id="after-button">
                    New customer?
                    <a href="<%= new_user_url %>">
                      Start here.
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
    <% else %>
      <div id="middle">
        <a id="hippolyta" href="#users/<%= current_user.id %>">
          <%= current_user.name %>'s Hippolyta.com
        </a>
      </div>

      <div id="right">
        <ul>
          <li>
            <ul id="account-drop-down-ul">
              <li>
                <a id="account" href="<%= session_url %>" data-method="delete">
                  <span id="top-line">Your Account</span>
                  <br>
                  <span>Sign Out? <div id="down-arrow"></div></span>
                </a>
              </li>
              <li id="account-drop-down">
                <ul>
                  <li>
                    <button>
                      <a href="<%= session_url %>" data-method="delete">
                        Sign Out
                      </a>
                    </button>
                  </li>
                  <li id="after-button">
                    Want to view
                    <a href="#users/<%= current_user.id %>">
                      your account?
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
    <% end %>
          <li>
            <ul id="cart-drop-down-ul">
              <li>
                <a id="cart" href="#carts/<%= current_cart.id %>">
                  <div id="quantity"><%= current_cart.quantity %></div>
                  <img src="<%= image_url("cart.png") %>" alt="cart" />
                  <span>Cart <div id="down-arrow"></div></span>
                </a>
              </li>
              <li id="cart-drop-down">
                <ul>
                  <% if current_cart.products.empty? %>
                    <li id="cart-empty">
                      Your Cart is empty.
                    </li>
                  <% else %>
                    <% current_cart.products.each do |product| %>
                      <li class="cart-item">
                        <a class="group"
                           href="#sellers/<%= product.seller_id %>/products/<%= product.id %>">
                          <img class="product-image"
                               src="<%= product.picture.url(:thumb) %>"
                               alt="product image" />
                          <%= product.name %>
                          <br>
                          $<%= product.sale_price %>
                        </a>
                      </li>
                    <% end %>
                    <li id="cart-total">
                      Total: $<%= current_cart.total %>
                    </li>
                  <% end %>
                  <li>
                    <button>
                      <a href="#carts/<%= current_cart.id %>">
                        View Cart (<%= current_cart.quantity %> items)
                      </a>
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </section>
</header>

<main>
  <div id="content">
    <section class="large-ad">
      <img src="<%= image_url("seed/root_page/Baby-Hippopotamus-Gregor-Berlin-Zoo.jpg") %>"
           alt="picture"/>
    </section>
  </div>
</main>

<script type="text/javascript" charset="utf-8">
  $(Hippolyta.initialize);
</script>
